// Constants for entire site

$font: "Fira Code"
$foreground-color: #ffffff
$background-color: #111111


// Text formatting across the entire site

html
    background-color: $background-color
    color: $foreground-color
    font-family: $font
    text-align: center

main
    margin-left: 20%
    margin-right: 20%
    margin-top: 3%
    margin-bottom: 3%

h1
    font-size: xx-large

h2
    font-size: x-large

p
    font-size: large


// Formatting for listing pages

.programListing
    display: flex

.programInfo
    width: 100%
    padding-left: 5%
    padding-right: 5%

.programDescription
    overflow-wrap: break-word
    word-wrap: break-word
    overflow: show

.programButton
    font-size: normal
    color: $foreground-color
    border-style: solid
    border-width: 1px
    border-color: $foreground-color
    background-color: $background-color
    border-radius: 0px
    text-decoration: none
    display: inline-block
    width: 50%
    padding: 1%

.programButton:hover
    color: $background-color
    background-color: $foreground-color

.programImage
    image-rendering: pixelated
    image-rendering: crisp-edges
    width: 100%
    height: 100%
    border-style: solid
    border-radius: 0px
    border-width: 1px
    border-color: $foreground-color


// This is used to separate elements on each page

hr
    width: 75%
    border-style: dashed
    border-radius: 1px
    border-color: $foreground-color


// Formatting for description pages

.programBanner
    image-rendering: pixelated
    image-rendering: crisp-edges
    width: 100%
    border-style: solid
    border-radius: 0px
    border-width: 1px
    border-color: $foreground-color

.programIcon
    image-rendering: pixelated
    image-rendering: crisp-edges
    width: 300px
    height: 300px
    border-style: solid
    border-radius: 0px
    border-width: 1px
    border-color: $foreground-color

.programSplitView
    display: flex

.programSplitChild
    width: 100%
    padding: 1%

.programDownloadButton
    font-size: normal
    color: $foreground-color
    border-style: solid
    border-width: 1px
    border-color: $foreground-color
    background-color: $background-color
    border-radius: 0px
    text-decoration: none
    display: flex
    flex-wrap: wrap
    flex-direction: column
    text-align: center
    width: 100%
    padding-top: 10px
    padding-bottom: 10px
    margin-top: 10px
    margin-bottom: 10px

.programDownloadButton:hover
    color: $background-color
    background-color: $foreground-color

.programDownloadButton[disabled]
    color: #7f7f7f
    border-color: #c0c0c0

.programSplitChild
    ol
        text-align: left


// Custom CSS for the about page

.me
    image-rendering: pixelated
    image-rendering: crisp-edges
    width: 25%
    border-style: solid
    border-radius: 0px
    border-width: 1px
    border-color: $foreground-color


// Custom CSS for the faq page

.faqDiv
    display: flex
    flex-wrap: wrap

.faqBlock
    display: block
    border-radius: 0px
    border-width: 1px
    border-color: $foreground-color
    border-style: solid
    background-color: $background-color
    width: 20%
    height: auto
    text-align: center
    padding: 1%
    margin: 1%


// Custom CSS for the 404 page

.gif
    width: 50%
    height: 50%
    display: inline-block


// Custom CSS for the home page

.homepageImage
    width: 75%
    image-rendering: crisp-edges
    border-style: solid
    border-radius: 0px
    border-width: 1px
    border-color: $foreground-color


// Custom CSS for the contact page

.URLButton
    font-size: normal
    color: $foreground-color
    border-style: solid
    border-width: 1px
    border-color: $foreground-color
    background-color: $background-color
    border-radius: 0px
    text-decoration: none
    display: inline-block
    width: 50%
    padding: 1%

.URLButton:hover
    color: $background-color
    background-color: $foreground-color

.contactDiv
    display: flex
    flex-wrap: wrap

.contactBlock
    display: block
    text-align: center
    flex: auto
    width: 45%
    height: auto
    padding: 1%
    margin: 1%


// Custom CSS for the header

header
    background-color: $background-color
    color: $foreground-color
    font-family: $font
    word-wrap: nowrap
    div
        text-align: center
        display: inline
        h1
            display: inline-block
            vertical-align: middle
            font-family: $font
            font-weight: bold
            font-size: xx-large
        img
            display: inline-block
            vertical-align: middle
            image-rendering: pixelated
            image-rendering: crisp-edges

.bodybar
    color: $foreground-color
    text-align: center
    border-style: solid
    border-radius: 1px
    width: 100%

.navbar
    display: inline
    background-color: $background-color
    white-space: nowrap
    a
        font-size: normal
        color: $foreground-color
        // NOTE: Red looks really good, but does not fit the theme of the
        //       website background-color: #ff0000;
        padding: 10px
        text-decoration: none
    a:hover
        background-color: $foreground-color
        color: $background-color


// Custom CSS for the footer

footer
    background-color: $background-color
    color: $foreground-color
    font-family: $font
    text-align: center
    p
        font-size: x-large
