<div class="programListing">
    <div class="programInfo">
        <h2 class="programName">
            {{name}}
        </h2>
        <p class="programDescription">
            {{description}}
        </p>
        <a class="programButton" href="{{link}}">Learn More</a>
    </div>
    <img class="programImage" src="{{image}}">
</div>
