{% extends "base.html" %}
{% block content %}
<h1>
    Oops!
</h1>
<div class="gif">
    <div class="tenor-gif-embed" data-postid="8323903" data-share-method="host" data-width="100%" data-aspect-ratio="1.8045112781954886"></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
<p>
    That page does not exist.
</p>
{% endblock %}
