<html>

<head>
    <title>
        {% if page.title %}
            Code Scribe: {{ page.title }}
        {% else %}
            Code Scribe
        {% endif %}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ get_url(path='/assets/fonts/fira_code/fira_code.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='/common.css') }}">
    <link rel="me" href="https://tech.lgbt/@biti">
</head>

<body>
    {% include "header.html" %}
    <main>
        <article>
            {% block content %}
            {% endblock %}
        <article>
    </main>
    {% include "footer.html" %}
</body>

</html>
