<header>
    <div>
        <img src="/assets/logo/logo-transparent.png">
        <h1>Code Scribe</h1>
    </div>
    <div>
        <nav>
            <div class="navbar">
                {% for page in config.extra.toolbar_pages %}
                <a href="{{ get_url(path=page[1]) }}">{{ page[0] }}</a>
                {% endfor %}
            </div>
        </nav>
    </div>
    <hr class="bodybar">
</header>
